.root {

    /* 
    margin: 0 1rem;
    padding: 1rem 0;
    position: relative;
    background-color: #fff;
    border: 1px solid #007bdb;
    border-radius: 1px;
     box-shadow: 1px 1px 5px rgb(0 0 0 / 50%); 
    color: #41362f;

    font-weight: 400;
    left: 0;
    list-style: none;
    margin: 2px 0 0;
    min-width: 0;
    padding: 0;
     position: absolute; 
    right: 0;
    top: 100%;
    border-bottom: 0;
     */
}

.contentFilter {
    position: relative;
    margin: 13px;
    border-bottom: 1px solid #e3e3e3;
}

.actionSearch {
    position: relative;
}

.actionSearch > svg {
    position: absolute;
    right: 18px;
    top: 6px;
}

.inputFilter {
    width: calc(100% - 70px);
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #adadad;
    border-radius: 1px;
    box-shadow: none;
    color: #303030;
    font-size: 1rem;
    font-weight: 400;
    height: auto;
    line-height: 1.36;
    padding: 0.4rem 1rem 0.4rem;
    transition: border-color .1s linear;
    padding-right: 3rem;
    vertical-align: baseline;
}

.inputFilter:focus {
    border-color: #007bdb;
    outline: none;
}

.itemsQuality {
    color: #a79d95;
    margin: 1rem 0;
}
