.root {
    position: relative;
    background-color: #fff;
    outline: none;
}

.showData {
    -st-states: isShowOptions;
    border: 1px solid #adadad;
    cursor: pointer;
    display: block;
    min-height: 2.2rem;
    white-space: normal;
    position: relative;
    display: flex;
    align-items: center;
}

.iconDelete {
    cursor: pointer;
    color: rgb(204, 204, 204);
}

.iconDelete:hover {
    color: rgb(154, 154, 154);
}

.iconDelete:active {
    color: rgb(154, 154, 154);
}

.toggleSelect {
    -st-states: isShowOptions;
    background-color: #e3e3e3;
    border: none;
    border-left: 1px solid #adadad;
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    padding: 14px;
    cursor: pointer;
}

.toggleSelect:isShowOptions > .svgToggleDown {
    transform: rotate(360deg);
    transition: all 0.2s;
}

.toggleSelect:isShowOptions > .svgToggleDown {
    transform: rotate(180deg);
}

.toggleSelect > .svgToggleDown {
    transform: rotate(180deg);
    transition: all 0.2s;
}

.toggleSelect > .svgToggleDown {
    transform: rotate(0deg);
}

.showData:isShowOptions {
    border-color: #007bdb;
}

.listItemData {
    cursor: pointer;
    display: block;
    padding-right: 5rem;
    white-space: normal;
}

.text {
    padding-left: 14px;
    color: rgb(128, 128, 128);
}

.itemData {
    -st-states: isSingle, isMulti;
}

.itemData:isSingle {

    padding: 0.5rem 1rem;
}

.itemData:isMulti {
    background-color: #f5f5f5;
    border: 1px solid #a79d95;
    border-radius: 1px;
    display: inline-block;
    font-size: 1.2rem;
    margin: 3px 1px 3px 3px;
    padding: 3px 29px 3px 10px;
    position: relative;
    transition: border-color .1s linear;
}


.closeItem {
    position: absolute;
    right: 7px;
    top: 6px;
    opacity: .4;
    height: 16px;
    width: 16px;
}

.closeItem:hover {
    opacity: 1;
}

.options {
    -st-states: isShowOptions;
    background-color: #fff;
    border: 1px solid #007bdb;
    border-radius: 1px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
    color: #41362f;
    font-weight: 400;
    left: 0;
    list-style: none;
    margin: 2px 0 0;
    min-width: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
}

.options:isShowOptions {
    display: block;
}

.delete {
    position: absolute;
    right: 0;
    height: 100%;
    right: 55px;
    z-index: 100000;
    display: flex;
    align-items: center;
}
