.root {
    background-color: #fff;
    border-radius: 1px;
    color: #41362f;
    font-weight: 400;
    left: 0;
    list-style: none;
    min-width: 0;
    padding: 0;
    right: 0;
    top: 100%;
    border-top: 0;
}

.root ul {
    list-style: none;
}

.root .listItemOptionsTree {
    position: relative;
    padding-left: 20px;
    max-height: 27rem;
    overflow: auto;
}

.root .listItemOptionsTree .optionsTree {
    position: relative;
}

.root .listItemOptionsTree .optionsTree .itemTrees {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.root .listItemOptionsTree .optionsTree .listItemTree {
    position: relative;
}

.root .listItemOptionsTree .optionsTree .listItemTree::before {
    border-left: 1px dashed #a79d95;
    height: calc(100% - 9px);
    top: -11px;
    width: 1px;
    content: '';
    left: 12px;
    position: absolute;
}

.root .listItemOptionsTree .optionsTree .listItemTree .optionsTree {
    position: relative;
}

/* .root > .listItemOptionsTree > .optionsTree > .listItemTree > .optionsTree::before {
    border-left: 1px dashed #a79d95;
    height: calc(100% - 9px);
    top: -11px;
    width: 1px;
    content: '';
    left: 12px;
    position: absolute;
} */

.root .listItemOptionsTree .optionsTree .listItemTree .optionsTree::after {
    border-top: 1px dashed #a79d95;
    height: 1px;
    top: 19px;
    width: 29px;
    content: '';
    left: -26px;
    position: absolute;
}

/* .root .listItemOptionsTree .optionsTree .listItemTree::before {
    border-left: 1px dashed #a79d95;
    height: calc(100% - 9px);
    top: -11px;
    width: 1px;
    content: '';
    left: 12px;
    position: absolute;
} */

.listItemOptions {
    margin-bottom: 0;
    max-height: 27rem;
    overflow-y: auto;
}

.itemOption {
    -st-states: active, isHover;
    cursor: pointer;
    display: block;
    padding: 0.6875em 1em;
    transition: all 0.3s;
    display: flex;
    gap: 7px;
    outline: none;
}

.itemOption:active {
    background-color: #e0f6fe;
}

.itemOption:isHover {
    background-color: #e3e3e3;
}

.itemOptionTree {
    -st-states: isShowCheck, isHover, isHoverMouse;
    margin: 0;
    padding: 0.6875em 1em;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    margin-left: 3px;
    outline: none;
}

/* .itemOptionTree:isHover {
     background-color: #e3e3e3; 
}  */

.itemOptionTree:isShowCheck {
    background-color: #e0f6fe;

}

.itemOptionTree:isHover {
    background-color: #e3e3e3;
}

.itemOptionTree:isHoverMouse {
    background-color: #e3e3e3;
}


.toggleItems {
    cursor: pointer;
}


.itemPath {
    color: #a79d95;
    font-size: 14px;
    font-weight: 400;
    padding-left: 1rem;
}


.done {
    display: flex;
    justify-content: center;
    font-size: 15px;
    border-top: 1px solid #e3e3e3;
    margin: 0 1rem;
    padding: 1rem 0;
    text-align: center;
}

.done > button {
    border: 1px solid;
    font-size: 14px;
    min-width: 130px;
    background: #e3e3e3;
    border-color: #adadad;
    color: #514843;
    padding: 0.6rem 1em 0.6rem;
    cursor: pointer;
}

.done > button:hover {
    background-color: #dbdbdb;
    color: #514843;
    text-decoration: none;
}
