.root {
    background-color: #fff;
    border-radius: 1px;
    color: #41362f;
    font-weight: 400;
    left: 0;
    list-style: none;
    min-width: 0;
    padding: 0;
    right: 0;
    top: 100%;
    border-top: 0;
}

.loading {
    -st-states: isLoadingInput;
    color: rgb(128, 128, 128);
    box-sizing: border-box;
    font-size: 1.2rem;
    justify-content: center;
    padding: 4px 13px;
    display: none;
}

.loading:isLoadingInput {
    display: flex;
}

.root ul {
    list-style: none;
}

.root .listItemOptionsTree {
    margin: 0;
    position: relative;
    padding-left: 20px;
    max-height: 27rem;
    overflow: auto;
}

.listItemOptions {
    margin-bottom: 0;
    max-height: 27rem;
    overflow-y: auto;
}

.itemOption {
    -st-states: active, isHover, isDisable;
    cursor: pointer;
    display: block;
    padding: 0.6875em 1em;
    transition: all 0.3s;
    display: flex;
    gap: 7px;
    outline: none;
}

.itemOption:active {
    background-color: #e0f6fe;
}

.itemOption:isHover {
    background-color: #e3e3e3;
}

.itemOption:isDisable {
    position: relative;
    background-color: transparent;
    cursor: default;
}

.itemOption > p {
    margin: 0;
}

.itemOption:isDisable > p {
    opacity: 0.5;
}

.itemOption:isDisable .numberGroup {
    border-radius: 50%;
    width: 20px;
    height: 18px;
    background-color: #dddbd9;
    color: #000;
    position: absolute;
    right: 19px;
    text-align: center;
    font-weight: 600;
}

.itemPath {
    color: #a79d95;
    font-size: 14px;
    font-weight: 400;
    padding-left: 1rem;
}

.done {
    display: flex;
    justify-content: center;
    font-size: 15px;
    border-top: 1px solid #e3e3e3;
    margin: 0 13px;
    padding: 1rem 0;
    text-align: center;
    outline: none;
    margin-top: 1rem;
}

.done > button {
    border: 1px solid;
    font-size: 14px;
    min-width: 130px;
    background: #e3e3e3;
    border-color: #adadad;
    color: #514843;
    padding: 0.6rem 1em 0.6rem;
    cursor: pointer;
}

.done > button:hover {
    background-color: #dbdbdb;
    color: #514843;
    text-decoration: none;
}
