.root {
    background-color: #fff;
    /* border: 1px solid #007bdb; */
    border-radius: 1px;
    /* box-shadow: 1px 1px 5px rgb(0 0 0 / 50%); */
    color: #41362f;

    font-weight: 400;
    left: 0;
    list-style: none;
    /* margin: 2px 0 0; */
    min-width: 0;
    padding: 0;
    /* position: absolute; */
    right: 0;
    top: 100%;
    border-top: 0;
}

.root ul {
    list-style: none;
}

.listItemOptions {
    margin-bottom: 0;
    max-height: 27rem;
    overflow-y: auto;
}


.itemOption {
    -st-states: active;
    cursor: pointer;
    display: block;
    padding: 0.6875em 1em;
    transition: all 0.3s;
}


.itemOption:active {
    background-color: #e0f6fe;
}

.itemOption:hover {
    background-color: #e3e3e3;
}


.itemOptionTree {
    margin: 0;
    padding: 0.6875em 1em;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 100%;
}

.itemOptionTree:hover {
    background-color: #e3e3e3;
}

.itemOptionTree:focus {
    background-color: #e3e3e3;
    outline: none;
}


.itemTrees {
    display: flex;
    align-items: center;
    width: 100%;
}

.toggleItems {
    cursor: pointer;
}

.listItemOptionsTree {
    max-height: 27rem;
    overflow: auto;
}
